<!DOCTYPE HTML>
	<html lang="ko">
		<head>
			<meta charset="UTF-8">
			<title>{{imp[0]}} - {{imp[1][0]}}</title>
			{{imp[3][3]|safe}}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="/views/modernblack/style.css">
			<link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
			<script src="https://kit.fontawesome.com/790c7752e3.js" crossorigin="anonymous"></script>
	        <meta name="keywords" content="{{imp[1][0]}}">
			<meta name="description" content="{{data|cut_100}}">	
		</head>
		<body>
			<nav class="navbar navbar-expand-lg bg-dark">
				<div class="container px-3">
					<ul class="navbar-nav">
						<a href="/" class="navbar-brand">{{imp[1][0]}}</a>
						<a class="nav-link" href="/recent_changes"><span class="fa fa-compass"></span> 최근 편집</a>
						<a class="nav-link" href="/recent_discuss"><i class="fa fa-exclamation-circle"></i> 최근 토론</a>
						<a class="nav-link" href="/other"><i class="fa fa-gear"></i> 기타 도구</a>
						<a class=nav-link href=/user ><i class="fa fa-user"></i> {{ imp[2][5] }}</a>
					</ul>
					<form method="post" action="/search" id="searchform" class="form-inline">
						<div class="input-group">
							<input type="search" name="search" placeholder="검색" accesskey="f" class="form-control" id="searchinput" autocomplete="off">
							<span class="input-group-btn">
								<button name="fulltext" value="검색" id="searchSearchButton" class="btn btn-light"><span class="fa fa-search"></span></button>
							</span>
						</div>
					</form>
					<!--<img class="nav-img" src="//secure.gravatar.com/avatar/{{imp[2][4]|md5_replace}}?d=retro"></a>-->
				</div>
			</nav>
								<form method="post" action="/search" id="searchmobile" class="form-inline">
						<div class="input-group">
							<input type="search" name="search" placeholder="검색" accesskey="f" class="form-control" id="searchinputmobile" autocomplete="off">
							<span class="input-group-btn">
								<button name="fulltext" value="검색" id="searchSearchButton" class="btn btn-light"><span class="fa fa-search"></span></button>
							</span>
						</div>
					</form>
							<table id="mobile">{% if not menu == 0 %}
                        {% for sub_d in menu %}
                            {% if loop.index < 6 %}
                                <td><a href="/{{sub_d[0]}}">{{sub_d[1]}}</a></td>
                            {% endif %}
                            {% if not menu[loop.index] and loop.index > 5 %}
                            {% endif %}
                        {% endfor %}
                            </table>
						{% endif %}
			<div class="container-fluid" style="background:#EAEAEA">
				</div>
				
								<div class="container" style="border:1px solid #ccc; background:#FFFFFF">
					<br><h1 id="title" class="bold">{{imp[0]}}
					{% if not menu == 0 %}
                            <div class="btn-group" role="group" id="main">
                                {% for sub_d in menu %}
                                    {% if loop.index < 6 %}
                                        <a class="btn btn-dark tools-btn" href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                                    {% endif %}
                    {% if not menu[loop.index] and loop.index > 5 %}
                            </div>
                     {% endif %}
                                {% endfor %}
                            </div>
                    {% endif %}</h1>
					{{data|safe}}<br>
			</div>
		</body>
		<footer>
			{{imp[1][1]|safe}}<br><a href="https://github.com/2du/openNAMU">openNAMU</a> Modern Black by <a href="https://github.com/CheongWol2">CheongWol2</a>
		</footer>
	</html>
