body {
    max-width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    font-family: nanumbarungothic;
}

table {
    background-color: #f5f5f5;
	border-color: gray;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.1rem;
}

h1#title {
	border-bottom: none;
}

footer {
	margin: 10px 0;
	text-align: center;
}

#toc {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#out_link {
    color: #008000;
}

#out_link::before {
    padding: 0px;
    background: #090;
    color: #fff;
    content: "å¤–";
}

#toc-name {
    font-size: 18px;
}

#cate {
	width: 100%;
	border: 1px solid #ccc;
    display: inline-block;
}

.btn-group#main {
	float: right;
}

.nav-link {
	color: #fff;
}

.navbar-brand {
	color: #FFFFFF;
}
